<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Cabs</title>
 	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  	<link rel="stylesheet" href="/stylesheets/cab.css">
  	<script src="/javascripts/jquery.min.js"></script>
  	<script src="/javascripts/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel='icon' type='text/icon' href='/images/icon.png'>
  	<link rel="stylesheet" href="/stylesheets/fonts/IndieFlower.ttf">
	<link rel="stylesheet" href="/stylesheets/fonts/sed.ttf">
	<link rel="stylesheet" href="/stylesheets/fonts/Montserrat.ttf">

</head>
<body>
	<nav class='navbar navbar-inverse' style='margin-bottom: 0px;border-radius: 0'>
		<div class="container-fluid">
			<div class='navbar-header'>
				<a href='#' class='navbar-brand active'><i class="fa fa-fighter-jet"></i>FlightPassengerAssistant</a>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar'>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
			</div>
			<div class='collapse navbar-collapse' id='navbar'>
				<ul class='nav navbar-nav navbar-right'>
					<li><a href="/history">Your Flights</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="jumbotron" id="jumbo">
		<center><h1 class="heading" style="color: blue;font-weight: 400;">FLIGHT PASSENGERS CAN GET CABS AND SEE THE STATUS OF THEIR REQUESTED CABS</h1>
				<h1 class="heading" style="color: black;font-weight: 400"> CAB DRIVERS CAN GET FLIGHT PASSENGERS AND ALSO POST THEIRS CABS</h1></center><br>
		 <center><%-messages()%></center> 
	</div>

	<div class='container'>
		<div class="col-sm-12">
		<center>
		<ul class="nav nav-tabs">
		  <li class="active" style='width:25%'><a data-toggle="tab" class='active' href="#getcab">Get a Cab?</a></li>
		  <li style='width:25%'><a data-toggle="tab" href="#postcab">Need members?</a></li>
		  <li style='width:25%'><a data-toggle="tab" href="#cabrequested">Requested Cabs</a></li>
		  <li style='width:25%'><a data-toggle="tab" href="#cabposted">Posted Cabs</a></li>
		</ul>

		<div class="tab-content">
		  <div id="getcab" class="tab-pane fade in active" style="margin-top: 30px;padding:30px;">
		    <div class='row'>
		    	<div class="col-sm-12">
		    		<center>
		    			<form method='post' action='/cab/request'>
		    				<div class='form-group'>
		    					<label for='date'>Date</label>
		    					<input type="date" name="date" class='form-control' required>
		    				</div>
		    				<div class='form-group'>
		    					<label for='time'>Time</label>
		    					<input type="time" name="time" class='form-control' required>
		    				</div>
		    				<div class='form-group'>
		    					<label for='from'>From</label>
		    					<input type="text" id='from1' name="from" class='form-control' required>
		    				</div>
		    				<div class='form-group'>
		    					<label for='to'>To</label>
		    					<input type="text" name="to" id="to1" class='form-control' required>
		    				</div>
		    				<div class='form-group'>
		    					<label for='nop'>No of person</label>
		    					<input type="number" name="nop" class='form-control' required>
		    				</div>
		    				<br>
		    				<center>
		    					<div class='form-group' style='width:120px'>
		    						<input type="submit" value='Request Cab' class='form-control btn-success'>
		    					</div>
		    				</center>
		    			</form>
		    		</center>
		    	</div>
		    </div>
		  </div>
		  <div id="postcab" class="tab-pane fade" style="margin-top: 30px;padding:30px;">
		    	<div class='row'>
		    		<div class="col-sm-12">
		    			<center>
		    				<form method='post' action='/cab/post'>
		    					<div class='form-group'>
		    						<label for='date'>Date</label>
		    						<input type="date" name="date" class='form-control' required>
		    					</div>
		    					<div class='form-group'>
		    						<label for='time'>Time</label>
		    						<input type="time" name="time" class='form-control' required>
		    					</div>
		    					<div class='form-group'>
		    						<label for='from'>From</label>
		    						<input type="text" id='from2' name="from" class='form-control' required>
		    					</div>
		    					<div class='form-group'>
		    						<label for='to'>To</label>
		    						<input type="text" name="to" id='to2' class='form-control' required>
		    					</div>
		    					<div class='form-group'>
		    						<label for='nos'>No of seats available</label>
		    						<input type="number" name="nos" class='form-control' required>
		    					</div>
		    					<div class='form-group'>
		    						<label for='car'>Car</label>
		    						<input type="text" name="car" class='form-control' required>
		    					</div>
		    					<br>
		    					<center>
		    						<div class='form-group' style='width:100px'>
		    							<input type="submit" value='Post Cab' class='form-control btn-success'>
		    						</div>
		    					</center>
		    				</form>
		    			</center>
		    		</div>
		    	</div>

		  </div>
		  <div id="cabrequested" class="tab-pane fade" style="margin-top: 30px;padding:30px">
		    <div class='container'>
		    	<%if(reqcabs!==undefined){%>
		    		<%reqcabs.forEach(function(cab){%>
		    			<div class="row" style="margin-bottom: 20px">
		    				<div class='col-sm-12' style='background-color: maroon;color:white;padding: 30px; border-radius:25px'>
		    					<center>
		    						<h1 class="location">From <%=cab.from%>  to  <%=cab.to%></h1>
		    						<h3 style="font-weight:700;">on <%=cab.date%> at <%=cab.time%></h3>
		    						<h4 style="font-weight:700;">No of seats requested: <%=cab.nop%></h4>
		    						<a href='/cab/find/<%=cab._id%>' class='btn btn-success btn-lg'>Find cabs</a>
		    					</center>
		    				</div>
		    			</div>
		    		<%});%>
		    	<%}%>
		    </div>
		  </div>
		  <div id="cabposted" class="tab-pane fade" style="margin-top: 30px;padding:30px">
		    <div class='container'>
		    	<%if(postcabs!==undefined){%>
		    		<%postcabs.forEach(function(cab){%>
		    			<div class="row" style="margin-bottom: 20px">
		    				<div class='col-sm-12' style='background-color: maroon;color:white;padding: 30px; border-radius:25px'>
		    					<center>
		    						<h1 class="location">From <%=cab.from%>  to  <%=cab.to%></h1>
		    						<h3>on <%=cab.date%> at <%=cab.time%></h3>
		    						<h4>No of seats available: <%=cab.nos%></h4>
		    						<h4>Car: <%=cab.car%></h4>
		    						<a href='/cab/get/<%=cab._id%>' class='btn btn-danger btn-lg' style="border-radius: 0">Get Status	</a>
		    					</center>
		    				</div>
		    			</div>
		    		<%});%>
		    	<%}%>
		    </div>
		  </div>
		</div>
		</center>
		</div>
	</div>
	<script>
		var from1=document.getElementById('from1');
		var from2=document.getElementById('from2');
		var to1=document.getElementById('to1');
		var to2=document.getElementById('to2');
		function initMap(){
			var autocomplete1=new google.maps.places.Autocomplete(from1);
			var autocomplete2=new google.maps.places.Autocomplete(from2);
			var autocomplete3=new google.maps.places.Autocomplete(to1);
			var autocomplete4=new google.maps.places.Autocomplete(to2);

		}
	</script>
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPPARKqgMButu_uZBypCGyIxImtnQBFDw&callback=initMap&libraries=places">
    </script>
</body>
</html>