<!DOCTYPE html>
<html lang='en'>
<head>
	<title>SEARCH FLIGHTS</title>
 	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  	<script src="/javascripts/jquery.min.css"></script>
  	<script src="/javascripts/bootstrap.min.css"></script>
  	<link rel='icon' type='text/icon' href='/images/a.png'>
  	<link rel="stylesheet" href="/stylesheets/animate.css">
  	<link rel='stylesheet' href='/stylesheets/details.css'/>
  	<style type="text/css">
  		#map{
  			width:100%;
  			height: 400px;
  		}
  	</style>
</head>
<body>

	<div class="jumbotron wow tada" style='margin-bottom: 0' id='maindiv'>
		<center><h1 id='main'>Flight Details</h1></center><br>
		<center><h3>Map from your location to airport.</h3></center><br>
		<center><%-messages()%></center>
	</div>


	<div id="map"></div>

<%if(flight!=undefined){%>
	<div class="container" id="content">
		<div class='col-sm-12'>
			<center><h1 style='color:red'>Flight No.: <%=flight.request.airline.fsCode%>-<%=flight.request.flight.interpreted%> of 
				 <%(flight.appendix.airlines).forEach(function(airline){%>
				 	<%if(airline.fs==flight.request.airline.fsCode){%>
				 		<%=airline.name%>
				 	<%}%>
				 <%});%> on <%=flight.request.date.interpreted%>
			</h1></center>
			<br>
			
			

			<center><h1>Journey</h1></center>

			<div class='row wow bounceInLeft'>
				<%(flight.flightStatuses).forEach(function(fs){%>
					<div class='row' >
				 		<div class='col-sm-3'></div>
				 		<div class='col-sm-6' style='font-size: 24px;'>
				 			<center>
				 			<%=fs.departureAirportFsCode%> to  <%=fs.arrivalAirportFsCode%> <br>
				 			Status : <%=fs.status%><br>
				 			Duration : <%=fs.flightDurations.scheduledBlockMinutes%><br>
				 			<%if (fs.airportResources!=undefined){%>
				 				<%if(fs.airportResources.departureTerminal){%>
				 				Departure Terminal : <%=fs.airportResources.departureTerminal%><br>
				 			<%}%>
				 			<%if(fs.airportResources.arrivalTerminal){%>
				 				Arrival Terminal : <%=fs.airportResources.arrivalTerminal%><br>
				 			<%}%>
				 			<%}%>
				 			
				 		</div>
				 		<div class='col-sm-3'></div>	
				 	</div>
				<%})%>
			</div>

			<center><h1>Airports</h1></center>
			<p>
				<!-- <%(flight.appendix.airports).forEach(function(airport){%> -->
				 	<div class='row wow bounceInLeft'>
				 		<div class='col-sm-3'></div>
				 		<div class='col-sm-6' style='font-size: 24px;'>
				 			<center>
				 			<%=airport.name%> , 
				 			<%=airport.city%><br>
				 			- <%=airport.countryName%><br>
				 			- <%=airport.regionName%><br><br>
				 			<a href="/airport/weather/<%=airport.fs%>" class='btn btn-danger' >Get Weather Details</a><br>
				 			<a href="/airport/nearby/<%=airport.latitude%>,<%=airport.longitude%>" class='btn btn-success' >Search Nearby</a>	
				 			</center>
				 		</div>
				 		<div class='col-sm-3'></div>
				 			
				 	</div>
				<%});%> 
			</p>

			</center>
		</div>
	</div>
<%}%>
<center>
	<a href="/flight/add" class='btn btn-danger'>Add Flight</a>
</center>

<input type="hidden" name="from" value="<%=from%>" id='from'>

<script type="text/javascript">
	  function initMap() {
	  	if(navigator.geolocation){
	  		navigator.geolocation.getCurrentPosition(function(position){
	  			var lat=position.coords.latitude;
	  			var lng=position.coords.longitude;
	  			console.log(lat,lng);
	  			var obj=new google.maps.LatLng({lat: lat, lng: lng});
	  			var directionsService = new google.maps.DirectionsService;
	  			var directionsDisplay = new google.maps.DirectionsRenderer;
	  			var map = new google.maps.Map(document.getElementById('map'), {
	  			    zoom: 7,
	  			    center: {lat: 41.85, lng: -87.65}
	  			});
	  			directionsDisplay.setMap(map);
	  			calculateAndDisplayRoute(directionsService, directionsDisplay);
	  			

	  			function calculateAndDisplayRoute(directionsService, directionsDisplay) {
	  			  directionsService.route({
	  			    origin:  obj,
	  			    destination: document.getElementById('from').value,
	  			    travelMode: 'DRIVING'
	  			  }, function(response, status) {
	  			    if (status === 'OK') {
	  			      directionsDisplay.setDirections(response);
	  			    } else {
	  			      window.alert('Directions request failed due to ' + status);
	  			    }
	  			  });
	  			}
	  		});
	  	}
	  	else{
	  		window.alert("Please provide us your location for better services. Refresh to see changes");
	  	}
	    
	    
	  }
	</script>
	
</script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPPARKqgMButu_uZBypCGyIxImtnQBFDw&callback=initMap">
	</script>
<script src='/javascripts/wow.js'></script>
<script type='text/javascript'>
new WOW().init();
</script>`


</body>
</html>